<a href="https://colab.research.google.com/github/Callisthenes/python_course_ie/blob/main/Python_class_session_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

Ever wondered if there is a simple way of doing things when you have to write the same chunk of code over and over again to do a repetitive job?

Python's functions are meant to simplify programs and code

## Example 1: A prompt with an empty function

In [32]:
#Defining our first empty function (no arguments)
def hello_world():
  """A nice explanation of what your function does goes here"""
  print ("hello world... again")

In [33]:
#notice if we donÂ´t put parenthesis, we get the information about the object!
hello_world

In [34]:
#the simplest funtion you can do, no parameters
hello_world()

hello world... again

## Example 2: Parsing information to the function

In [35]:
# first we create the function
def welcome_user(user):
  """Welcomes a user by its name"""
  print(f"Welcome {user} to my first function with one argument!")

In [36]:
#now we use the function, notice we have to put the parameters
welcome_user("Pedro")

Welcome Pedro to my first function with one argument!

In [37]:
#a function with three parameters

def full_introduction(name, age, country):
  """Gives a full intro like on session 1"""
  print(f"Hi! \nMy name is {name}, I am {age} and I come from {country}")
  print("Nice to meet you all")

In [38]:
# more info about our object
full_introduction

In [40]:
# we use the function following the order
full_introduction ("Pedro", "32", "Spain")

Hi!
My name is Pedro, I am 32 and I come from Spain
Nice to meet you all

In [41]:
#doesnt seem right... can we fix this if we dont remember the order?
full_introduction ("32", "Spain", "Pedro")

Hi!
My name is 32, I am Spain and I come from Pedro
Nice to meet you all

In [42]:
full_introduction (age= "32", country = "Spain", name = "Pedro")

Hi!
My name is Pedro, I am 32 and I come from Spain
Nice to meet you all

## Remember the miles to kilometre conversor? Try it with a function!

In [43]:
def miles_to_kilometres (miles):
  """Input miles, output kilometers"""
  kilometres = miles * 1.6
  print (f"{miles} miles are equivalent to {kilometres} kilometres")

In [ ]:
miles_to_kilometres (500)

500 miles are equivalent to 800.0 kilometres

## From the book: Make a dictionary with data from a person

In [45]:
# here we have a function with an optional parameter
def build_person(first_name, last_name, age = None):
    """Return a dictionary of information about a person."""
    person = {'first': first_name.title(), 'last': last_name.title()}
    if age:
        person['age'] = age
    return person

# We will get more in depth with data structures in session 4
# The return statement is used with objects, we now have a dictionary and...
# ... we want to show its contents right after the end of the function

In [46]:
musician = build_person('jimi', 'hendrix', age=27)
musician

{'first': 'Jimi', 'last': 'Hendrix', 'age': 27}

In [ ]:
type(musician)

dict

In [ ]:
industrialist = build_person('henry', 'ford')
industrialist

{'first': 'Henry', 'last': 'Ford'}

In [ ]:
print (industrialist.keys())

dict_keys(['first', 'last'])

In [ ]:
industrialist.values()

dict_values(['Henry', 'Ford'])

In [ ]:
# how does it look on a real programme?

# https://github.com/Callisthenes/sherlock/blob/master/sherlock/sherlock.py

In [49]:
# Is this function ok?

def function (x=0):
  return x

In [54]:
function(99,x=9)

TypeError: ignored

# Functions for mathematical formulas

In [55]:
#what is the output of the following snippet?

def fun(x,y,z):
  return x+2 *y+3 *z

In [56]:
print(fun(0,3,1))

9

In [ ]:
fun(0,3,1)

9

# Building social media profile

In [57]:
def build_profile(first, last, **user_info):
    """Build a dictionary containing everything we know about a user."""
    user_info['first_name'] = first
    user_info['last_name'] = last
    return user_info

In [58]:
user_profile = build_profile('pedro', 'esteban',
                             location='madrid',
                             field='big data')
print(user_profile)

{'location': 'madrid', 'field': 'big data', 'first_name': 'pedro', 'last_name': 'esteban'}

In [60]:
#using lists in functions
def strange_list_fun(n):
    strange_list = []
    
    for i in range(0, n):
        strange_list.insert(0, i)
    
    return strange_list

print(strange_list_fun(5))

# here we provide a numberthat would serve as a range delimitor
#we also create an epty list that we will populate
# we do a for loop using a range method
# we insert the iterations through the range in our list
# we return the list

[4, 3, 2, 1, 0]

In [3]:
def create_list(n):
    my_list = []
    for i in range(n):
        my_list.append(i)
    return my_list

print(create_list(5))

[0, 1, 2, 3, 4]

# Parsing arguments to a function

In [61]:
# first we create a list of names
list_of_names = ["Pedro", 'Marcos', 'Ana', 'Lucia', 'Eva', 'Marisol', 'Eduardo']

In [62]:
# we create a function that will iterate through that list (we parse the argument)
def hi_everybody(my_list):
    for name in my_list:
        print("Hi,", name)

In [6]:
hi_everybody (list_of_names)

Hi, Pedro
Hi, Marcos
Hi, Ana
Hi, Lucia
Hi, Eva
Hi, Marisol
Hi, Eduardo

# The concept of global variables, vs local variables in functions

In [63]:
#Using the method global, we make our local variable avaible out of the function

def my_function():
    global var
    var = 2
    print("Do I know that variable?", var)

In [64]:
var = 1
my_function()
print(var)

Do I know that variable? 2
2

# More examples, how to calculate body mass index

In [10]:
def bmi(weight, height):
    return weight / height ** 2


print(bmi(52.5, 1.65))

19.283746556473833

In [12]:
bmi (75,1.70)

25.95155709342561

In [16]:
def count_words(filename):
    """Count the approximate number of words in a file."""
    try:
        with open(filename, encoding='utf-8') as f:
            contents = f.read()
    except FileNotFoundError:
        pass
    else:
        words = contents.split()
        num_words = len(words)
        print(f"The file {filename} has about {num_words} words.")

filenames = ['alice.txt', 'siddhartha.txt', 'moby_dick.txt', 'little_women.txt']
for filename in filenames:
    count_words(filename)

In [17]:
count_words ("moby_dick.txt")

The file moby_dick.txt has about 215830 words.

In [27]:
def make_pizza(size, *toppings):
    """Summarize the pizza we are about to make."""
    print(f"\nMaking a {size}-inch pizza with the following toppings:")
    for topping in toppings:
        print(f"- {topping}")

In [29]:
topping_list = ['pepperoni', "cheese", "ham", "onion"]

In [30]:
make_pizza (80, topping_list )

Making a 80-inch pizza with the following toppings:
- ['pepperoni', 'cheese', 'ham', 'onion']