<a href="https://colab.research.google.com/github/Callisthenes/python_course_ie/blob/main/Session_4_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures

## Lists

In [92]:
# Our List

shopping_list = []

In [93]:
# Methods for adding data to our newly created list
# Valid for most of data structures!!

In [94]:
#append
shopping_list.append("tomatoes")

In [95]:
shopping_list

['tomatoes']

In [96]:
shopping_list.append("bread")

In [97]:
shopping_list

['tomatoes', 'bread']

In [98]:
#Another method to add elements is extend
#to be used with double brackets
shopping_list.extend(("lettuce", "apples", "meat"))

In [99]:
shopping_list

['tomatoes', 'bread', 'lettuce', 'apples', 'meat']

In [100]:
#we decided we have enough lettuce so let's get instead guacamole
shopping_list[2] = 'guacamole'

In [101]:
shopping_list

['tomatoes', 'bread', 'guacamole', 'apples', 'meat']

In [102]:
#Nice, let's add some apples using extend!

In [35]:
#beware of extend, if you dont put double brackets it fragments all string
shopping_list.extend("apples")

In [36]:
shopping_list

['tomatoes',
 'bread',
 'lettuce',
 'apples',
 'meat',
 'lettuce',
 'apples',
 'meat',
 'a',
 'p',
 'p',
 'l',
 'e',
 's']

In [44]:
#this doesnt look good, lets check methods to remove elements
#we need to provide an index
del shopping_list [8:-1]

In [46]:
shopping_list

['tomatoes',
 'bread',
 'lettuce',
 'apples',
 'meat',
 'lettuce',
 'apples',
 'meat',
 's']

In [51]:
#Let's use pop to also remove and store in another variable
s = shopping_list.pop (8)

IndexError: ignored

In [53]:
#Notice I use print or sometimes directly the varible
print (s)

s

In [50]:
#Now its nice and tidy
print (shopping_list)

['tomatoes', 'bread', 'lettuce', 'apples', 'meat', 'lettuce', 'apples', 'meat']

In [56]:
#Another way to remove
shopping_list.remove("tomatoes")

In [57]:
shopping_list

['bread', 'lettuce', 'apples', 'meat', 'lettuce', 'apples', 'meat']

In [58]:
#Now let's see methods to print

In [59]:
#sorted will reorder elements in ascending order order
shopping_list.sort()

In [62]:
shopping_list

['apples', 'apples', 'bread', 'lettuce', 'lettuce', 'meat', 'meat']

In [63]:
#default value of sort method is ascending, we can take care of that
shopping_list.sort(reverse=True)

In [72]:
shopping_list

['meat', 'meat', 'lettuce', 'lettuce', 'bread', 'apples', 'apples']

In [77]:
#what if we want to count a particular index?
shopping_list.count("apples")

2

In [73]:
shopping_list.append(9)

In [74]:
shopping_list

['meat', 'meat', 'lettuce', 'lettuce', 'bread', 'apples', 'apples', 9]

In [79]:
#what if we want to know the index currently assigned to a particular value
shopping_list.index(9)

7

In [82]:
#can i put other data structures in my list?
dictionary={1:"monday", 2:"tuesday"}
shopping_list.append(dictionary)

In [83]:
shopping_list

['meat',
 'meat',
 'lettuce',
 'lettuce',
 'bread',
 'apples',
 'apples',
 9,
 {1: 'monday', 2: 'tuesday'}]

In [86]:
shopping_list.extend((1, 9.7, True, (3,4,5,6,7,8) ))

In [87]:
shopping_list

['meat',
 'meat',
 'lettuce',
 'lettuce',
 'bread',
 'apples',
 'apples',
 9,
 {1: 'monday', 2: 'tuesday'},
 1,
 9.7,
 True,
 (3, 4, 5, 6, 7, 8)]

In [88]:
# our list a disaster but we have demonstrated we can include everything in a list

In [155]:
#a practical snippet to iterate through your list
for items in shopping_list:
  print (items)

tomatoes
bread
guacamole
apples
meat

In [89]:
#you can use this space to practice, clean the list, and include your own food :)

## Tuples

In [ ]:
# we have the concept of imuitability REMEMBER THIS!!!

In [91]:
qwerty = ('q','w','e','r','t','y')

In [103]:
qwerty

('q', 'w', 'e', 'r', 't', 'y')

In [105]:
type (qwerty)

tuple

In [107]:
#we say these are inmutable but...
querty = qwerty + ("u",'i','o')

In [108]:
querty

('q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o')

In [109]:
#let's try to perform an ilegal operation
del qwerty [2]

TypeError: ignored

In [110]:
qwerty[2] = ('a')

TypeError: ignored

## Dictionaries

In [116]:
#let's create a dictionary for a small company|
employees = {21344:"esteban", 89238:"martinez"}

In [117]:
#this will show the key value pairs
employees

{21344: 'esteban', 89238: 'martinez'}

In [132]:
#another way of doing this is
employees.items()

dict_items([(21344, 'esteban'), (89238, 'martinez'), (1, 'garcia')])

In [118]:
type (employees)

dict

In [123]:
#let's print only the keys for our dictionary
employees.keys()

dict_keys([21344, 89238, 1])

In [ ]:
#and the values

In [124]:
employees.values()

dict_values(['esteban', 'martinez', 'garcia'])

In [127]:
#adding someone new to the dict is done this way, not append
employees[3423]="garcia"

In [128]:
employees

{21344: 'esteban', 89238: 'martinez', 1: 'garcia', 3423: 'garcia'}

In [153]:
#you can modify similarly, just call the key and put a new value
employees[3423]="del val"
employees

{21344: 'esteban', 89238: 'martinez', 1: 'garcia', 3423: 'del val'}

In [129]:
#popping a key value pair in the dictionary
#eliminates last key value pair in the dictionary and returns it
#we could have stored it in another dictionary 
employees.popitem()

(3423, 'garcia')

In [130]:
employees

{21344: 'esteban', 89238: 'martinez', 1: 'garcia'}

In [157]:
#you can also use len
len (employees)

4

In [156]:
#using a for loop to print all our pairs
for key in employees.keys():
    print(key, "->", employees[key])

21344 -> esteban
89238 -> martinez
1 -> garcia
3423 -> del val

In [159]:
#working together with dictionaries and tuples
#program to add sutdent name and grade until break


school_class = {}

while True:
    name = input("Enter the student's name: ")
    if name == '':
        break
    
    score = int(input("Enter the student's score (0-10): "))
    if score not in range(0, 11):
	    break
    
    if name in school_class:
        school_class[name] += (score,)
    else:
        school_class[name] = (score,)
        
for name in sorted(school_class.keys()):
    adding = 0
    counter = 0
    for score in school_class[name]:
        adding += score
        counter += 1
    print(name, ":", adding / counter)

KeyboardInterrupt: ignored

##Sets

In [142]:
#In sets we will not see repeated values!
SP_license_plates = {"9834GWS","9834GWS", "9834GWS", "2184HBW" }

In [143]:
SP_license_plates

{'2184HBW', '9834GWS'}

In [144]:
SW_license_plates=("SMV928", "MKS839")

In [145]:
SW_license_plates

('SMV928', 'MKS839')

In [148]:
#similar to SQL, we can join both sets in one new
greek_border_control = SP_license_plates.union(SW_license_plates)

In [147]:
greek_border_control

{'2184HBW', '9834GWS', 'MKS839', 'SMV928'}

##Homework

In [149]:
# Create a dictionary with 3 emergency contacts in your phone agenda

In [ ]:
# Remove the second one

In [ ]:
# Add another contacts

In [150]:
# Tell me with a method, what is the length of your dictionary

In [151]:
# Create two sets with guest lists coming to a party



#Join the two lists in one titled projectx